<a href="https://colab.research.google.com/github/mariahirit/Project-data-scients-with-MongoDB-y/blob/master/MongoDBcoll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!python -m pip install pymongo==3.7.2

Requirement already satisfied: pymongo==3.7.2 in /usr/local/lib/python3.7/dist-packages (3.7.2)

In [6]:
import datetime                            # Imports datetime library

import pymongo
from pymongo import MongoClient

#client = pymongo.MongoClient("mongodb://Colab:1234@cluster0.9tzab.mongodb.net/Colab?retryWrites=true&w=majority")
#db = client.test
#uri = 'mongodb://Colab:1234@cluster0.9tzab.mongodb.net/Colab?retryWrites=true&w=majority&ssl=true&ssl_cert_reqs=CERT_NONE'
#client = MongoClient(uri)
# uri (uniform resource identifier) defines the connection parameters

# uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASENAME')
#uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASE_NAME, CLUSTER_1_NAME : PORT , CLUSTER_2_NAME : PORT') 
#uri = 'mongodb://MariaHirit:*****@cluster0.imbz0.mongodb.net/test?authSource=admin&replicaSet=atlas-lgv9jg-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true'
#uri = 'mongodb://Colab:<Colab>@cluster0.9tzab.mongodb.net/Colab?retryWrites=true&w=majority'
#uri = 'localhost:27017'
uri = 'mongodb://u1kkdrchfjim80tclysv:FeesC2ACNmI7be61RTst@brny4kjelauboxl-mongodb.services.clever-cloud.com:27017/brny4kjelauboxl'
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [7]:
client.stats

Database(MongoClient(host=['brny4kjelauboxl-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

In [8]:
# Show existing database names
client.list_database_names()

['brny4kjelauboxl']

In [9]:
# Set database name to work with. If it doesn't exist, it will be created as soon as one document is added.
db = client.brny4kjelauboxl

In [ ]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
#db.create_collection('adressbook3')       # Optional collection creation

In [10]:
list(db.list_collection_names())

['addressbook', 'adressbook3']

In [11]:
col=db.adressbook3
col.insert_many([{"name":"Andreea", "age": 18,
                "productos": ["flor", "uno", "tres"]},
                  {"name": "Maria",
                   "age": 29,
                    "zipCode:": 56587667,
                   "fruits": ["banana", "orange", "lemon"]}])

In [13]:
list(col.find())

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667}]

In [14]:
col.insert_one({ "name": "Manu", "age": 48})

In [15]:
list(col.find())

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'}]

In [16]:
list ( col.find( {"name" : "Maria"} ))

[{'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667}]

In [17]:
list ( col.find().limit(1) )

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']}]

In [18]:
list ( col.find().skip(1) )

[{'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'}]

In [19]:
update_result = col.update_one( 
    {"name" : "Andreea"}, 
    {'$set' : { 'age' : 30 }} )

In [20]:
list(col.find())

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'}]

In [21]:
update_result.raw_result

{'$clusterTime': {'clusterTime': Timestamp(1647529201, 30),
  'signature': {'hash': b'G5~\x08t\xff\x8e\xed_\xa8\xd5\xa0\xe9\xd9\xea\xe5N\x10\xd3C',
   'keyId': 7017346210788802561}},
 'electionId': ObjectId('7fffffff00000000000000f9'),
 'n': 1,
 'nModified': 0,
 'ok': 1.0,
 'opTime': {'t': 249, 'ts': Timestamp(1647529201, 30)},
 'operationTime': Timestamp(1647529201, 30),
 'updatedExisting': True}

In [22]:
insert_result=col.update_one({"name": "Coco"}, {"$set": {"age": 70 }}, upsert= True)

In [23]:
list(col.find({"name": "Coco"}))

[{'_id': ObjectId('62334cfd9eda1644866b102b'), 'age': 70, 'name': 'Coco'}]

In [24]:
list(col.find())

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cfd9eda1644866b102b'), 'age': 70, 'name': 'Coco'}]

In [25]:
update_result.acknowledged

True

In [26]:
list(col.find({"$or": [{"name":"Maria"}, {"age": 70} ] } ))

[{'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cfd9eda1644866b102b'), 'age': 70, 'name': 'Coco'}]

In [27]:
col.update_many({"isActive":True}, {"$set": {"isActive": False}})
list(col.find())

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cfd9eda1644866b102b'), 'age': 70, 'name': 'Coco'}]

In [28]:
delete = col.delete_one({"name": "Coco"})    
list (col.find( ))

[{'_id': ObjectId('6233294289be7415d2b4ec78'),
  'age': 30,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('6233294289be7415d2b4ec79'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62332a5589be7415d2b4ec7a'), 'age': 48, 'name': 'Manu'},
 {'_id': ObjectId('62334cbc282cc0036f6a7525'),
  'age': 18,
  'name': 'Andreea',
  'productos': ['flor', 'uno', 'tres']},
 {'_id': ObjectId('62334cbc282cc0036f6a7526'),
  'age': 29,
  'fruits': ['banana', 'orange', 'lemon'],
  'name': 'Maria',
  'zipCode:': 56587667},
 {'_id': ObjectId('62334cdb282cc0036f6a7527'), 'age': 48, 'name': 'Manu'}]

In [ ]:
delete.deleted_count

In [30]:
db = client.brny4kjelauboxl

In [31]:
db.list_collection_names()

['addressbook', 'adressbook3']

In [32]:
collection = db.bicing

In [ ]:
num_documents = col.count_documents({'_id' : {'$exists' : 1}})     
print ( 'Number of documents in database = ' + str(num_documents) )
list ( col.find().limit(1) )

In [38]:
db = client.brny4kjelauboxl                         
if 'addressbook3' in list(db.list_collection_names()):
  print ('Deleting "Addressbook3" collection')
  db.drop_collection('addressbook')                 
else:
  print ('Not previous collection found')

Not previous collection found

In [39]:
db.list_collection_names()

['addressbook', 'adressbook3']

In [40]:
col=db.adressbook3

In [42]:
num_documents = collection.count_documents({'_id' : {'$exists' : 1}})
attributes = list (collection.find().limit(1))     ## WARNING use as reference , NoSQL db can have different attributes by document

print ('Number of documents : %d' % num_documents)
print ('Attributes names : %s' % attributes)

Number of documents : 0
Attributes names : []